[Unit]
Description=Rclone Mount Google Drive
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rclone-mount.sh
Restart=on-failure

[Install]
WantedBy=default.target